<h1>funciona todo</h1>

<div class="container p-4">

<div class="row">
  {{#each images}}
    <img src="{{ path }}" alt="" >
    <p>{{title}}</p>
    <p>{{description}}</p>
    <p></p>
  {{/each}}
  
</div>
</div>

